:root
{
    --color: #ecc94b;
    --bgcolor: #;
    --font: Montserrat;
    --radius: 50px;
    --t: all 0.6s ease-in 0s;
    --rgba: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
}